<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tableViewAddDeleteElement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0409C0FA1D75E52D00445098</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0409C10E1D75E52D00445098</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0409C1191D75E52D00445098</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
